button{
    background-color: blueviolet;
    font-size:large;
    colour:red;
}
.form1{
    background-color: chocolate;
    width: fit-content;
    padding: 20px;
    margin: auto;
    box-shadow:0px 0px 10px rgb(red, green, blue);
    border-radius:30px;
}